* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: #000;
}

.container {
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

nav button {
    width: 30px;
    height: 30px;
    font-size: 12px;
    background: transparent;
    border: none;
    cursor: pointer;
}

nav button:hover {
    background-color: #4e4d4d;
    border-radius: 4px;
}

#text-area {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    padding: 0px 5px;
}

#number {
    width: 26px;
}

#lan {
    width: 32px;
}